* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    color: black;
}


// animazioni
@keyframes fromTopToMid {
    from {
        top: 0;
        left: 50%;
    }

    to {
        top: 50%;
        left: 50%;
        opacity: 0;
    }
}

@keyframes fromBotToMid {
    from {
        top: 100%;
        left: 50%;
    }

    to {
        top: 50%;
        left: 50%;
        opacity: 0;
    }
}

@keyframes midNumberCreate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}